@using AstrophotographyBlog.Web.Models
@model PostViewModel

@{
    ViewBag.Title = Model.Title;
}

<link rel="stylesheet" type="text/css" href="~/Content/Post.css" />

<div #id="post-list" class="container">
    <div class="row">
        <a href="@Url.Action("Details", "Post", new { id = Model.ID})">
            <div class="lib-panel">
                <div class="row box-shadow">
                    <div class="col-md-6">
                        <img class="lib-img-show" src=@Model.ImageUrl>
                    </div>
                    <div class="col-md-6">
                        <div class="lib-row lib-header">
                            @Model.Title
                            <div class="lib-header-seperator"></div>
                        </div>
                        <div class="lib-row lib-desc">
                            @Model.ImageTarget
                        </div>
                        <div class="lib-row lib-desc">
                            @Model.Location
                        </div>
                        <div class="lib-row lib-desc">
                            @Model.Time
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>


