@using Microsoft.AspNet.Identity
@model AstrophotographyBlog.Web.Models.PostViewModel

@{
    ViewBag.Title = Model.Title;
}

@Styles.Render("~/Content/css")

@section Styles {
    <link href="@Url.Content("Post.css")" rel="stylesheet" type="text/css" />
}

    <div class="lib-panel">
        <div class="row box-shadow">
            <div class="col-md-6">
                <img class="lib-img-show" src=@Model.ImageUrl>
            </div>
            <div class="col-md-6">
                <div class="lib-row lib-header">
                    @Model.Title
                    <div class="lib-header-seperator"></div>
                </div>
                <div class="lib-row lib-desc">
                    @Model.ImageTarget
                </div>
                <div class="lib-row lib-desc">
                    @Model.ImageInfo
                </div>
                <div class="lib-row lib-desc">
                    @Model.Location
                </div>
                <div class="lib-row lib-desc">
                    @Model.Time
                </div>
            </div>
        </div>
    </div>

